.div {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
    padding-top: 50px;
    padding-right: 400px;
    padding-left: 400px;
    
    

}


.card {
    width: 30%;
    height: 500px;
    margin-bottom: 40px;
    
    
}
.img {
    height: 300px;
    border-radius: 5px 10px 0 0;
    
}

